<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss}] %p [%c: %L] - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="hibernate-starter.org"/>
<!--        дописывает в этот же файл-->
        <param name="append" value="true"/>
        <param name="maxFileSize" value="1MB"/>
<!--        сколько создавать файлов до перезаписи-->
        <param name="maxBackupIndex" value="1"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss}] %p [%c: %L] - %m%n" />
        </layout>

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="All"/>
        </filter>
    </appender>
<!--для дополнительного логирования-->
<!--    <logger name="Pegas" additivity="false">-->
<!--        <level value="debug" />-->
<!--        <appender-ref ref="console" />-->
<!--    </logger>-->

    <root>
        <level value="info" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>